
#side-bar {
    #elephant-heading {
        display: flex;
        align-items: center;
        padding-left: 16%;
        img {
            width: 20%;
            height: auto;
            margin-right: 5%;
        }
        h1 {
            display: inline;
            font-size: 1.75rem;
            color: white;
            &.yellow-color {
                color: #ebc584;
            }
        }
    }
    #filter-tag {
        margin-left: 10%;
        width: 100%;
        @mixin hover-effect {
            cursor: pointer;
            color: white;
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease 0.1s;
        }
        .sidebar-btn {
            display: block;
            padding: 5% 5% 5% 8%;
            font-size: 1rem;
            border: none;
            background: none;
            outline: none;
            color: #b3c5c1;
            width: 100%;
            text-align: left;
            border-radius: 10px;
            &#toggle-tag {
                display: flex;
                justify-content: space-between;
                .fas {
                    &.is-slide-up {
                        transform: rotate(0deg);
                        transition: transform 0.6s ease;
                    }
                    &.is-slide-down {
                        transform: rotate(180deg);
                        transition: transform 0.6s ease;
                    }
                }
            }
            &:hover {
                @include hover-effect();
            }
        }
        #tags-list-container {
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.1);
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
            li {
                border-radius: 10px;
                padding: 5% 5% 5% 12%;
                color: #b3c5c1;
                &:hover {
                    @include hover-effect();
                }
            }
        }
    }
}
// 


